@supports (fill: color(oklch, var(--darkYellow))) {
	:root {
		--black: color(oklch, var(--black));
		--blue: color(oklch, var(--blue));
		--cyan: color(oklch, var(--cyan));
		--darkBlack: color(oklch, var(--darkBlack));
		--darkBlue: color(oklch, var(--darkBlue));
		--darkCyan: color(oklch, var(--darkCyan));
		--darkGold: color(oklch, var(--darkGold));
		--darkGray: color(oklch, var(--darkGray));
		--darkGreen: color(oklch, var(--darkGreen));
		--darkMaroon: color(oklch, var(--darkMaroon));
		--darkOlive: color(oklch, var(--darkOlive));
		--darkOrange: color(oklch, var(--darkOrange));
		--darkPink: color(oklch, var(--darkPink));
		--darkPurple: color(oklch, var(--darkPurple));
		--darkRed: color(oklch, var(--darkRed));
		--darkSlate: color(oklch, var(--darkSlate));
		--darkViolet: color(oklch, var(--darkViolet));
		--darkWhite: color(oklch, var(--darkWhite));
		--darkYellow: color(oklch, var(--darkYellow));
		--gold: color(oklch, var(--gold));
		--gray: color(oklch, var(--gray));
		--green: color(oklch, var(--green));
		--lightBlack: color(oklch, var(--lightBlack));
		--lightBlue: color(oklch, var(--lightBlue));
		--lightCyan: color(oklch, var(--lightCyan));
		--lightGold: color(oklch, var(--lightGold));
		--lightGray: color(oklch, var(--lightGray));
		--lightGreen: color(oklch, var(--lightGreen));
		--lightMaroon: color(oklch, var(--lightMaroon));
		--lightOlive: color(oklch, var(--lightOlive));
		--lightOrange: color(oklch, var(--lightOrange));
		--lightPink: color(oklch, var(--lightPink));
		--lightPurple: color(oklch, var(--lightPurple));
		--lightRed: color(oklch, var(--lightRed));
		--lightSlate: color(oklch, var(--lightSlate));
		--lightViolet: color(oklch, var(--lightViolet));
		--lightWhite: color(oklch, var(--lightWhite));
		--lightYellow: color(oklch, var(--lightYellow));
		--maroon: color(oklch, var(--maroon));
		--olive: color(oklch, var(--olive));
		--orange: color(oklch, var(--orange));
		--pink: color(oklch, var(--pink));
		--purple: color(oklch, var(--purple));
		--red: color(oklch, var(--red));
		--slate: color(oklch, var(--slate));
		--violet: color(oklch, var(--violet));
		--white: color(oklch, var(--white));
		--yellow: color(oklch, var(--yellow));
	}
}
